<h1>Editing student</h1>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Show this student", teacher_student_path, class: "btn btn-primary" %>
  <%= link_to "Back to students", teacher_path(@teacher), class: "btn btn-primary" %>
</div>
