<p style="color: green"><%= notice %></p>

<h1>Teachers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <div id="teachers">
      <% @teachers.each do |teacher| %>
        <tr>
          <%= render teacher %>
          <td>
            <%= link_to "Show this Teacher", teacher, class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </div>
    
  </tbody>
</table>



<%= link_to "New Teacher", new_teacher_path, class: "btn btn-primary" %>
